*{
    box-sizing: border-box;
}
body{
    font-family: tahoma ,Arial;
}
.quiz-app{
    background-color: #f8f8f8;
    width: 800px;
    padding: 15px;
    margin: 20px auto;

}
.quiz-app .quiz-info,
.quiz-app .quiz-area,
.quiz-app .answers-area,
.quiz-app .bullets{
    padding: 20px;
    background-color: #fff;
}
.quiz-app .quiz-info{
    display: flex;
    justify-content: space-between;
    color: #777;
}
.quiz-app .quiz-area{
    margin-top: 20px;
}
.quiz-app .quiz-area h2{
    margin: 0;
}
.quiz-app .answers-area{
 padding-top: 0;   

}
.quiz-app .answers-area .answer{
    background-color: #f9f9f9;
    padding: 15px;
    
}
.quiz-app .answers-area .answer:not(:last-child){
    border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type = "Radio"]:checked +label{
    color: #0075ff;
}
.quiz-app .answers-area .answer label{
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
    top: -1px;
    
}
.quiz-app .submit-button{
    display: block;
    background-color: #0075ff;
    width: 100%;
    padding:15px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px auto;
}
.quiz-app .submit-button:focus{
   outline: none;
}

.quiz-app .bullets{
    display: flex;  
    border-top: 1px solid #dfdfdf;
}
.quiz-app .bullets .spans{
    flex: 1;
    display: flex;
}
.quiz-app .bullets .spans span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #ddd;
}

.quiz-app .bullets .spans span.on{
    background-color: #0075ff;
}
.quiz-app .results{
    text-align: center;
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;
}
.quiz-app .results span{
    font-weight: bold;
}
.quiz-app .results span.bad{
    color:#dc0a0a;
}
.quiz-app .results span.good{
    color: #009688;
}
.quiz-app .results span.perfect{
    color: #0075ff
}